<%inherit file="/base/base_main.html"/>
<%block name="title">
课堂出勤信息管理
</%block>

<%block name="block_apartment">
    <a class="mdl-layout__tab is-active" href="#">课堂纪律管理</a>
</%block>

<%block name="left_navigation">
    <a class="mdl-navigation__link" href="/class/">课堂纪律登记</a>
    <a class="mdl-navigation__link" href="/class/">课堂违纪登记</a>
    <a class="mdl-navigation__link" href="/class/">课堂纪律问题查询</a>
</%block>


<%block name="content">
    <h1 class="mdl-typography--text-center">课堂纪律管理</h1>
</%block>