# coding=utf-8
<%inherit file="/student/student_base.html"/>
<%block name="title">
    学生信息录入
</%block>
<%block name="content">
    <form>
        <div class="mdl-typography--text-center">
            ##             学生个人信息 第一行


            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label cus_input_div" id="stu_id_div">
                <input class="mdl-textfield__input" type="text" pattern="^\d{8}$" id="stu_id"/>
                <label class="mdl-textfield__label" for="stu_id">学号</label>
                <span class="mdl-textfield__error">学号为8位纯数字</span>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label  cus_input_div" id="stu_name_div">
                <input class="mdl-textfield__input" type="text" pattern="^.*$" id="stu_name"/>
                <label class="mdl-textfield__label" for="stu_name">姓名</label>
                <span class="mdl-textfield__error">姓名不能为空</span>
            </div>

            <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label cus_input_div"
                 id="stu_sex_div">
                <select id="stu_sex" class="mdl-selectfield__select">
                    <option></option>
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
                <label for="stu_sex" class="mdl-selectfield__label">性别</label>
                <span class="mdl-selectfield__error">请选择学生的性别</span>
            </div>

            <br>

            ##             学生个人信息 第二行

            <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label cus_input_div"
                 id="stu_nation_div">
                <select id="stu_nation" class="mdl-selectfield__select">
                    <option></option>
                    <option>汉族</option>
                    <option>壮族</option>
                    <option>回族</option>
                    <option>满族</option>
                    <option>维吾尔族</option>
                    <option>苗族</option>
                    <option>彝族</option>
                    <option>土家族</option>
                    <option>藏族</option>
                    <option>蒙古族</option>
                    <option>侗族</option>
                    <option>布依族</option>
                    <option>瑶族</option>
                    <option>白族</option>
                    <option>朝鲜族</option>
                    <option>哈尼族</option>
                    <option>黎族</option>
                    <option>哈萨克族</option>
                    <option>傣族</option>
                    <option>畲族</option>
                    <option>傈僳族</option>
                    <option>东乡族</option>
                    <option>仡佬族</option>
                    <option>拉祜族</option>
                    <option>佤族</option>
                    <option>水族</option>
                    <option>纳西族</option>
                    <option>羌族</option>
                    <option>土族</option>
                    <option>仫佬族</option>
                    <option>锡伯族</option>
                    <option>柯尔克孜族</option>
                    <option>景颇族</option>
                    <option>达斡尔族</option>
                    <option>撒拉族</option>
                    <option>布朗族</option>
                    <option>毛南族</option>
                    <option>塔吉克族</option>
                    <option>普米族</option>
                    <option>阿昌族</option>
                    <option>怒族</option>
                    <option>鄂温克族</option>
                    <option>京族</option>
                    <option>基诺族</option>
                    <option>德昂族</option>
                    <option>保安族</option>
                    <option>俄罗斯族</option>
                    <option>裕固族</option>
                    <option>乌兹别克族</option>
                    <option>门巴族</option>
                    <option>鄂伦春族</option>
                    <option>独龙族</option>
                    <option>赫哲族</option>
                    <option>高山族</option>
                    <option>珞巴族</option>
                    <option>塔塔尔族</option>
                </select>
                <label for="stu_nation" class="mdl-selectfield__label">民族</label>
                <span class="mdl-selectfield__error">请选择学生的民族</span>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label  cus_input_div" id="stu_tel_div">
                <input class="mdl-textfield__input" type="text" pattern="^.*$" id="stu_tel"/>
                <label class="mdl-textfield__label" for="stu_tel">联系方式</label>
                <span class="mdl-textfield__error"></span>
            </div>


            <br>


            ##             学生身份证号码

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label cus_input_div"
                 style="width:165px" id="stu_cid_div">
                <input class="mdl-textfield__input" type="text" pattern="^.*$" id="stu_cid"/>
                <label class="mdl-textfield__label" for="stu_cid">身份证号</label>
                <span class="mdl-textfield__error">请输入正确的18位身份证号</span>
            </div>
            <br>


            ##             学生家庭住址

            <div>
                <div id="stu_adr_picker">
                    <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label cus_input_div">
                        <select id="stu_province" class="mdl-selectfield__select"></select>
                        <label for="stu_province" class="mdl-selectfield__label">省</label>
                        <span class="mdl-selectfield__error">请选择所在省份</span>
                    </div>
                    <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label cus_input_div">
                        <select id="stu_city" class="mdl-selectfield__select"></select>
                        <label for="stu_city" class="mdl-selectfield__label">市</label>
                        <span class="mdl-selectfield__error">请选择所在市区</span>
                    </div>
                    <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label cus_input_div">
                        <select id="stu_zone" class="mdl-selectfield__select"></select>
                        <label for="stu_zone" class="mdl-selectfield__label">区</label>
                        <span class="mdl-selectfield__error">请选择所在区</span>
                    </div>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label cus_input_div"
                     style="width:300px"
                     id="stu_adr_div">
                    <input class="mdl-textfield__input" type="text" pattern="^.*$" id="stu_adr"/>
                    <label class="mdl-textfield__label" for="stu_adr">街道住址</label>
                    <span class="mdl-textfield__error"></span>
                </div>
            </div>
            <br>


            ##             学生宿舍信息

            <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label cus_input_div"
                 id="stu_room_div">
                <select id="stu_room" class="mdl-selectfield__select" onchange="is_add_room()">
                    <option></option>
                </select>
                <label for="stu_room" class="mdl-selectfield__label">学生宿舍</label>
                <span class="mdl-selectfield__error">请选择一个宿舍</span>
            </div>


            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label  cus_input_div hidden"
                    id="stu_room_new_div">
                <input class="mdl-textfield__input" type="text" pattern="^.*$" id="stu_room_new"/>
                <label class="mdl-textfield__label" for="stu_room_new">学生宿舍</label>
                <span class="mdl-textfield__error">请填写新增宿舍</span>
            </div>
            <br>


            <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label cus_input_div"
                 id="stu_class_div">
                <select id="stu_class" class="mdl-selectfield__select" onchange="is_add_class()">
                    <option></option>
                </select>
                <label for="stu_class" class="mdl-selectfield__label">专业班级</label>
                <span class="mdl-selectfield__error">请选择一个专业班级</span>
            </div>


            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label  cus_input_div hidden"
                 id="stu_class_new_div">
                <input class="mdl-textfield__input" type="text" pattern="^.*$" id="stu_class_new"/>
                <label class="mdl-textfield__label" for="stu_class_new">专业班级</label>
                <span class="mdl-textfield__error">请填写新专业班级</span>
            </div>

            </p>


            <p>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label cus_input_div"
                 id="stu_parent_name1_div">
                <input class="mdl-textfield__input" type="text" pattern="^.*$" id="stu_parent_name1"/>
                <label class="mdl-textfield__label" for="stu_parent_name1">监护人姓名1</label>
                <span class="mdl-textfield__error">姓名不能为空</span>
            </div>

            <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label cus_input_div"
                 id="stu_parent_relation1_div">
                <select id="stu_parent_relation1" class="mdl-selectfield__select">
                    <option></option>
                    <option>父亲</option>
                    <option>母亲</option>
                    <option>爷爷</option>
                    <option>奶奶</option>
                    <option>老爷</option>
                    <option>姥姥</option>
                    <option>其他</option>
                </select>
                <label for="stu_parent_relation1" class="mdl-selectfield__label">监护人的关系1</label>
                <span class="mdl-selectfield__error">请选择一个关系</span>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label cus_input_div"
                 id="stu_parent_tel1_div">
                <input class="mdl-textfield__input" type="text" pattern="^.*$" id="stu_parent_tel1"/>
                <label class="mdl-textfield__label" for="stu_parent_tel1">监护人联系方式1</label>
                <span class="mdl-textfield__error"></span>
            </div>
            </p>
            <p>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label  cus_input_div"
                 id="stu_parent_name2_div">
                <input class="mdl-textfield__input" type="text" pattern="^.*$" id="stu_parent_name2"/>
                <label class="mdl-textfield__label" for="stu_parent_name2">监护人姓名2</label>
                <span class="mdl-textfield__error">姓名不能为空</span>
            </div>

            <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label cus_input_div"
                 id="stu_parent_relation2_div">
                <select id="stu_parent_relation2" class="mdl-selectfield__select">
                    <option></option>
                    <option>父亲</option>
                    <option>母亲</option>
                    <option>爷爷</option>
                    <option>奶奶</option>
                    <option>老爷</option>
                    <option>姥姥</option>
                    <option>其他</option>
                </select>
                <label for="stu_parent_relation2" class="mdl-selectfield__label">监护人的关系2</label>
                <span class="mdl-selectfield__error">请选择一个关系</span>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label  cus_input_div"
                 id="stu_parent_tel2_div">
                <input class="mdl-textfield__input" type="text" pattern="^.*$" id="stu_parent_tel2"/>
                <label class="mdl-textfield__label" for="stu_parent_tel2">监护人联系方式2</label>
                <span class="mdl-textfield__error"></span>
            </div>
            </p>

            <button id="submit"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                    type="button" onclick="sub_form()">
                提交
            </button>

            <button id="reset"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                    type="button" onclick="reset_fun()">
                重置
            </button>

        </div>

    </form>

    <div id="show_msg" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>




</%block>

<%block name='js'>
    <script>

        function sub_form() {
            var stu_id = document.getElementById('stu_id').valueOf().value;
            var stu_name = document.getElementById('stu_name').valueOf().value;
            var stu_sex = document.getElementById('stu_sex').valueOf().value;
            var stu_nation = document.getElementById('stu_nation').valueOf().value;
            var stu_tel = document.getElementById('stu_tel').valueOf().value;
            var stu_cid = document.getElementById('stu_cid').valueOf().value;
            var stu_adr_id = document.getElementById('stu_zone').options[document.getElementById('stu_zone').selectedIndex].getAttribute("data-code");
            var stu_adr = document.getElementById('stu_adr').valueOf().value;
            var stu_class = document.getElementById('stu_class').valueOf().value;
            var stu_room = document.getElementById('stu_room').valueOf().value;
            var stu_parent_name_1 = document.getElementById('stu_parent_name1').valueOf().value;
            var stu_parent_relation_1 = document.getElementById('stu_parent_relation1').valueOf().value;
            var stu_parent_tel_1 = document.getElementById('stu_parent_tel1').valueOf().value;
            var stu_parent_name_2 = document.getElementById('stu_parent_name2').valueOf().value;
            var stu_parent_relation_2 = document.getElementById('stu_parent_relation2').valueOf().value;
            var stu_parent_tel_2 = document.getElementById('stu_parent_tel2').valueOf().value;

            var id_reg = /^\d{8}$/;
            var cid_reg = /^\d{18}$/;
            var printMsg = document.querySelector('#show_msg');
            //如果监护人信息全填
            if (( stu_parent_name_1 != "" && stu_parent_relation_1 != "" && stu_parent_tel_1 != "") || (stu_parent_name_2 != "" && stu_parent_relation_2 != "" && stu_parent_tel_2 != "")) {
                //如果所有基本信息全填
                if (stu_adr_id != "" && stu_id != "" && id_reg.test(stu_id) && stu_name != "" && stu_sex != "" && stu_nation != "" && stu_tel != "" && stu_cid != "" && cid_reg.test(stu_cid) && stu_adr != "" && stu_class != "" && stu_room != "" && ((stu_room != "" && (stu_room != 'others' || stu_room_new != "")) && (stu_class != "" && (stu_class != 'others' || document.getElementById('stu_class_new').valueOf().value != "")))) {
                    var ajax_data = {
                        'stu_id': stu_id,
                        'stu_name': stu_name,
                        'stu_sex': stu_sex,
                        'stu_nation': stu_nation,
                        'stu_tel': stu_tel,
                        'stu_cid': stu_cid,
                        'stu_adr_id': stu_adr_id,
                        'stu_adr': stu_adr,
                        'stu_class': stu_class,
                        'stu_room': stu_room
                    };
                    if (stu_room == "others") {
                        ajax_data.stu_room_new = document.getElementById('stu_room_new').valueOf().value;
                    }
                    if (stu_class == "others") {
                        ajax_data.stu_class_new = document.getElementById('stu_class_new').valueOf().value;
                    }
                    if (stu_parent_name_1 != "" && stu_parent_relation_1 != "" && stu_parent_tel_1 != "") {
                        ajax_data.stu_parent_name = stu_parent_name_1;
                        ajax_data.stu_parent_relation = stu_parent_relation_1;
                        ajax_data.stu_parent_tel = stu_parent_tel_1;
                        ajax_data.stu_parent_name_vice = stu_parent_name_2;
                        ajax_data.stu_parent_relation_vice = stu_parent_relation_2;
                        ajax_data.stu_parent_tel_vice = stu_parent_tel_2;
                    }
                    else {
                        ajax_data.stu_parent_name = stu_parent_name_2;
                        ajax_data.stu_parent_relation = stu_parent_relation_2;
                        ajax_data.stu_parent_tel = stu_parent_relation_2;
                        ajax_data.stu_parent_name_vice = stu_parent_name_1;
                        ajax_data.stu_parent_relation_vice = stu_parent_relation_1;
                        ajax_data.stu_parent_tel_vice = stu_parent_relation_1;
                    }

                    $.ajax({
                        url: '/stu_mgr/stu_submit',
                        type: "post",
                        dataType: "json",
                        data: ajax_data,
                        success(data){
                            printMsg.MaterialSnackbar.showSnackbar({message: data.message});
                        }

                    });
                }

                else {
                    printMsg.MaterialSnackbar.showSnackbar({message: '有未填选项'});
                    //如果stu_class是新增 且 有未填项
                    if (stu_class == 'others' && document.getElementById('stu_class_new').valueOf().value == "")
                        document.getElementById('stu_class_new_div').classList.add('is-invalid');
                    //如果stu_room是新增 且 有未填项
                    if (stu_room == 'others' && document.getElementById('stu_room_new').valueOf().value == "")
                        document.getElementById('stu_room_new_div').classList.add('is-invalid');
                    if (stu_id == "" || !id_reg.test(stu_id))
                        document.getElementById('stu_id_div').classList.add('is-invalid');
                    if (stu_name == "")
                        document.getElementById('stu_name_div').classList.add('is-invalid');
                    if (stu_sex == "")
                        document.getElementById('stu_sex_div').classList.add('is-invalid');
                    if (stu_nation == "")
                        document.getElementById('stu_nation_div').classList.add('is-invalid');
                    if (document.getElementById('stu_city').valueOf().value == "")
                        document.getElementById('stu_city').parentNode.classList.add('is-invalid');
                    if (document.getElementById('stu_province').valueOf().value == "")
                        document.getElementById('stu_province').parentNode.classList.add('is-invalid');
                    if (stu_adr_id == "")
                        document.getElementById('stu_zone').parentNode.classList.add('is-invalid');
                    if (stu_tel == "")
                        document.getElementById('stu_tel_div').classList.add('is-invalid');
                    if (stu_cid == "" || !cid_reg.test(stu_cid))
                        document.getElementById('stu_cid_div').classList.add('is-invalid');
                    if (stu_adr == "")
                        document.getElementById('stu_adr_div').classList.add('is-invalid');
                    if (stu_class == "")
                        document.getElementById('stu_class_div').classList.add('is-invalid');
                    if (stu_room == "")
                        document.getElementById('stu_room_div').classList.add('is-invalid');
                }
            }
            else {
                alert('请至少填写一名监护人的完整信息');

                if (stu_parent_name_1 == "")
                    document.getElementById('stu_parent_name1_div').classList.add('is-invalid');
                if (stu_parent_relation_1 == "")
                    document.getElementById('stu_parent_relation1_div').classList.add('is-invalid');
                if (stu_parent_tel_1 == "")
                    document.getElementById('stu_parent_tel1_div').classList.add('is-invalid');
                if (stu_parent_name_2 == "")
                    document.getElementById('stu_parent_name2_div').classList.add('is-invalid');
                if (stu_parent_relation_2 == "")
                    document.getElementById('stu_parent_relation2_div').classList.add('is-invalid');
                if (stu_parent_tel_2 == "")
                    document.getElementById('stu_parent_tel2_div').classList.add('is-invalid');
            }

        }

        function get_room() {
            $.ajax({
                url: "/getStuRoom",
                type: "post",
                dataType: "json",
                success(data){

                    if (data.success) {
                        var option_str = "<option></option>";
                        for (var it in data.room_info) {
                            option_str = option_str.concat("<option value = '", data.room_info[it].id, "'>", data.room_info[it].room_name, "</option>");
                        }
                        option_str = option_str.concat("<option value='others'>新增</option>");
                        document.getElementById('stu_room').innerHTML = option_str;
                    }
                }
            });
        }

        function get_class() {
            $.ajax({
                url: "/getStuClass",
                type: "post",
                dataType: "json",
                success(data){
                    if (data.success) {
                        var option_str = "<option></option>";
                        for (var it in data.class_info) {
                            option_str = option_str.concat("<option value = '", data.class_info[it].id, "'>", data.class_info[it].class_name, "</option>");
                        }
                        option_str = option_str.concat("<option value='others'>新增</option>");
                        document.getElementById('stu_class').innerHTML = option_str;
                    }
                }
            });
        }

        function onload_init() {
            $('#stu_adr_picker').distpicker({
                autoSelect: false
            });

            get_room();
            get_class();
        }

        function is_add_room() {

            var stu_room_select = document.getElementById('stu_room').valueOf().value;
            if (stu_room_select == 'others') {
                document.getElementById('stu_room_new_div').classList.remove('hidden');
                document.getElementById('stu_room_new_div').style.display = true;
            }
            else {
                document.getElementById('stu_room_new_div').classList.add('hidden');
                document.getElementById('stu_room_new_div').style.display = false;
            }
        }

        function is_add_class() {

            var stu_room_select = document.getElementById('stu_class').valueOf().value;
            if (stu_room_select == 'others') {
                document.getElementById('stu_class_new_div').classList.remove('hidden');
                document.getElementById('stu_class_new_div').style.display = true;
            } else {
                document.getElementById('stu_class_new_div').classList.add('hidden');
                document.getElementById('stu_class_new_div').style.display = false;
            }
        }

        function reset_fun(){
            location.reload();
        }

    </script>
</%block>



<%block name="css">
    <style>
        .cus_input_div {
            margin-left: 20px;
            margin-right: 20px;
            width: 120px
        }
    </style>
</%block>