<!DOCTYPE html>
<!--suppress SpellCheckingInspection, HtmlUnknownTarget, PyNonAsciiChar -->
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>机电系学生管理系统 - <%block name="title"/></title>

    <!-- MDL CSS -->
    <link rel="stylesheet" href="/static/material.min.css">
    <link rel="stylesheet" href="/static/icon.css">
    <link rel="stylesheet" href="/static/mdl-selectfield.min.css">
    <script src="/static/material.min.js"></script>
    <script src="/static/jquery-1.12.1.min.js"></script>
    <script src="/static/mdl-selectfield.min.js"></script>
</head>
    <%block name="main"/>

</html>