<header class="docs-layout-header mdl-layout__header is-casting-shadow">
    <div class="mdl-layout__header-row">
        <div class="docs-navigation__container">
            <nav class="docs-navigation mdl-navigation">
                <a class="mdl-navigation__link /" href="/"><span class="mdl-layout-title">机电系安全监控系统</span></a>
                <div class="spacer"></div>
                <a class="mdl-layout__tab apartment" href="/apartment">公寓安全管理</a>
                <a class="mdl-layout__tab class" href="/class">课堂纪律管理</a>
                <a class="mdl-layout__tab psy" href="/psy">心理素质管理</a>
                <a class="mdl-layout__tab holiday" href="/holiday">节假日信息管理</a>
                <a class="mdl-layout__tab stu_mgr" href="/stu_mgr">学生信息管理</a>
                <a class="mdl-navigation__link logout" href="/logout">退出</a>
            </nav>
        </div>
    </div>
</header>