<%inherit file="/base/base_main.html"/>
<%block name="title">
心理素质管理
</%block>

<%block name="block_apartment">
    <a class="mdl-layout__tab is-active" href="#">心理学素质管理</a>
</%block>

<%block name="left_navigation">
    <a class="mdl-navigation__link" href="/class/">心理突发情况登记</a>
    <a class="mdl-navigation__link" href="/class/">心理突发情况统计</a>
    <a class="mdl-navigation__link" href="/class/">心理委员调查统计</a>
</%block>


<%block name="content">
    <h1 class="mdl-typography--text-center">心理素质管理</h1>
</%block>