<select id="discipline_2" class="mdl-selectfield__select" onchange="sub_()">
    <option></option>
    <option value="1" class="mdl-selectfield">早归</option>
    <option value="2" class="mdl-selectfield">晚归</option>
    <option value="3" class="mdl-selectfield">夜不归宿</option>
    <option value="4" class="mdl-selectfield">私开小卖部</option>
    <option value="5" class="mdl-selectfield">聚众打麻将</option>
    <option value="6" class="mdl-selectfield">私养宠物</option>
    <option value="7" class="mdl-selectfield">宿舍打架</option>
    <option value="10" class="mdl-selectfield">其他违规行为</option>
</select>