<%inherit file="/base/base_main.html"/>
<%block name="title">
公寓安全管理
</%block>

<%block name="block_apartment">
    <a class="mdl-layout__tab is-active" href="#">公寓安全管理</a>
</%block>

<%block name="left_navigation">
    <a class="mdl-navigation__link" href="/apartment/dis_input">公寓违纪情况登记</a>
    <a class="mdl-navigation__link" href="">公寓违纪情况查看</a>
    <a class="mdl-navigation__link" href="">公寓卫生情况登记</a>
    <a class="mdl-navigation__link" href="">公寓卫生情况查看</a>
</%block>


<%block name="content">
    <h1 class="mdl-typography--text-center">公寓安全管理</h1>
</%block>