# coding=utf-8
<%inherit file="/apartment/apartment_base.html"/>
<%block name="title">
    公寓违纪录入
</%block>
<%block name="content">






    ##         违纪信息录入

    <div class="mdl-typography--text-center">
        <h5 class="red-text">请输入学号并选择违纪类型</h5>
    </div>
    <div class="mdl-typography--text-center">

        <form action="">

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
                 style="width: 95px;margin-right: 30px;">
                <input class="mdl-textfield__input" type="text" pattern="^\d{8}$" id="stu_id"
                       onchange="getInfo()"/>
                <label class="mdl-textfield__label" for="stu_id">违纪学生学号</label>
                <span class="mdl-textfield__error">学号为8位纯数字</span>
            </div>
            <div id='stu_name_div' class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
                 style="width: 80px;margin-right: 30px;">
                <input class="mdl-textfield__input" type="text" id="stu_name" value=""
                       readonly/>
                <label class="mdl-textfield__label" for="stu_name">姓名:</label>
                <span class="mdl-textfield__error">无此学号对应的学生信息</span>
            </div>
            <div id='stu_sex_div' class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
                 style="width: 95px;margin-right: 30px;">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="stu_sex" value=""
                       readonly/>
                <label class="mdl-textfield__label" for="stu_sex">性别:</label>
                <span class="mdl-textfield__error">无此学号对应的学生信息</span>
            </div>

            <br>
            <div id="type_and_class">
                <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label"
                     style="width: 100px;margin-left: 15px;margin-right: 15px;">
                    <select id="dis_type" class="mdl-selectfield__select" onchange=" get_class_by_type()">
                        <option></option>
                        <option value="1">宿舍违纪行为</option>
                        <option value="2">宿舍违纪物品</option>
                    </select>
                    <label for="discipline_type" class="mdl-selectfield__label">
                        违纪类型
                    </label>
                    <span class="mdl-selectfield__error">请选择一种违纪类型</span>
                </div>


            </div>
            <br>
            <div class="mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" rows="3" id="others"></textarea>
                <label class="mdl-textfield__label" for="others">备注</label>
            </div>


            <div class="mdl-typography--text-center ">
                <div id="date_container" class="mdl-textfield mdl-js-textfield">
                    <input type="date" id="dis_date">
                    <label class="mdl-textfield__label" id="date_label" for="date">违纪时间</label>
                </div>
            </div>
            <div class="mdl-typography--text-center">

                <button id="submit"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                        type="button" onclick="sub_form()">
                    提交
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button id="reset"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                        type="button" onclick="reset_fun()">
                    重置
                </button>
            </div>

        </form>
    </div>
    <div id="show_msg" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>


</%block>
<%block name="js">
    <script>
        function getInfo() {
            var stu_idReg = /^\d{8}$/;
            var stu_id = document.getElementById('stu_id').valueOf().value;

            if (stu_idReg.test(stu_id)) {
                $.ajax({
                    url: '/getStuInfoById',
                    type: 'post',
                    data: {'stu_id': stu_id},
                    dataType: "json",
                    success: function (data) {
                        if (data.success) {
                            document.getElementById('stu_name').valueOf().value = data['stu_name'];
                            document.getElementById('stu_name_div').className = 'mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded is-dirty';
                            document.getElementById('stu_sex').valueOf().value = data['stu_sex'];
                            document.getElementById('stu_sex_div').className = 'mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded is-dirty';
                        } else {
                            document.getElementById('stu_name').valueOf().value = "学号输入有误或未录入该生信息";
                            document.getElementById('stu_name_div').className = 'mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded is-dirty is-invalid';
                            document.getElementById('stu_sex').valueOf().value = "学号输入有误或未录入该生信息";
                            document.getElementById('stu_sex_div').className = 'mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded is-dirty is-invalid';
                        }
                    }
                });

            } else {
                document.getElementById('stu_name').valueOf().value = "";
                document.getElementById('stu_name_div').classList.remove('is-dirty');
                document.getElementById('stu_sex').valueOf().value = "";
                document.getElementById('stu_sex_div').classList.remove('is-dirty');
                ;
            }
        }

        function get_class_by_type() {
            get_dis_class(document.getElementById('dis_type').value);
        }

        function get_dis_class(dis_type) {
            var dis_class_res;
            $.ajax({
                url: '/apartment/get_dis_class',
                type: 'post',
                dataType: 'json',
                data: {"dis_type": dis_type},
                success(data){
                    var remove_obj = document.getElementById('dis_class')
                    if (remove_obj) {
                        remove_obj.parentNode.parentNode.removeChild(remove_obj.parentNode)
                    }
                    var op = document.createElement('option');
                    var div_obj = document.createElement('div');
                    document.getElementById('type_and_class').appendChild(div_obj);
                    div_obj.className = "mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label";
                    div_obj.style.width = '100px';
                    div_obj.style.marginLeft = "15px";
                    div_obj.style.marginRight = "15px";
                    var sub_obj = document.createElement('select');
                    div_obj.appendChild(sub_obj);
                    sub_obj.id = 'dis_class';
                    sub_obj.className = "mdl-selectfield__select";
                    sub_obj.appendChild(op);

                    for (var it in data.dis_class) {
                        op = document.createElement('option');
                        sub_obj.appendChild(op);
                        op.innerHTML = data.dis_class[it].dis_class_name;
                        op.value = data.dis_class[it].id;
                    }
                    sub_obj = document.createElement('label');
                    sub_obj.setAttribute('for', 'dis_class');
                    sub_obj.className = "mdl-selectfield__label";
                    sub_obj.innerHTML = "违纪类型";
                    div_obj.appendChild(sub_obj);
                    sub_obj = document.createElement('span');
                    sub_obj.className = "mdl-selectfield__error";
                    sub_obj.innerHTML = "请选择具体违纪事项";
                    div_obj.appendChild(sub_obj);
                    componentHandler.upgradeElement(div_obj);
                }
            });


        }

        function sub_form() {
            var stu_id = document.getElementById("stu_id");
            var dis_type = document.getElementById("dis_type");
            var dis_class = document.getElementById('dis_class');
            var dis_date = document.getElementById("dis_date");
            var others = document.getElementById("others");
            var printMsg = document.querySelector('#show_msg');
            var handler = function () {
                window.location.reload();
            };
            if (stu_id.value == "" || dis_type.value == "" || (dis_class && dis_class.value == "") || dis_date.value == "") {
                printMsg.MaterialSnackbar.showSnackbar({message: "请检查你是否填入所有项"});
                if (stu_id.value == "")
                    stu_id.parentNode.classList.add('is-invalid');
                if (dis_type.value == "")
                    dis_type.parentNode.classList.add('is-invalid');
                if (dis_class && dis_class.value == "")
                    dis_class.parentNode.classList.add('is-invalid');
                if (dis_date.value == "") {
                    var error_span = document.createElement('span');
                    document.getElementById('date_container').insertBefore(error_span, document.getElementById('dis_date'));
                    error_span.innerHTML = "请输入时间<br>";
                    error_span.style.fontSize = '12px';
                    error_span.style.color = '#DE3226';
                }
            } else {
                $.ajax({
                    url: "/apartment/sub_dis",
                    type: "post",
                    data: {
                        'stu_id': stu_id.value,
                        'dis_type': dis_type.value,
                        'dis_class': dis_class.value,
                        'others': others.value,
                        'dis_date': dis_date.value
                    },
                    dataType: "json",
                    success(){
                        var message_data = {
                            message: '录入成功',
                            actionHandler: handler,
                            actionText: '继续录入',
                            timeout: 3000
                        };
                        printMsg.MaterialSnackbar.showSnackbar(message_data);
                        setTimeout(function () {
                            window.location.href = "/";
                        }, 2000);

                    }
                });
            }
        }

        function reset_fun() {
            location.reload(true);
        }

    </script>

</%block>