# coding=utf-8
<%inherit file="/apartment/apartment_base.html"/>
<%block name="title">
    公寓卫生登记
</%block>
<%block name="content">
    <div class="mdl-typography--text-center">

        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label" style="width: 65px;">
            <select id="stu_room" class="mdl-selectfield__select">
                <option></option>
            </select>
            <label for="stu_room" class="mdl-selectfield__label">学生宿舍</label>
            <span class="mdl-selectfield__error">请选择一个宿舍</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
             style="margin-left: 32px;width: 65px;">
            <input class="mdl-textfield__input" id="sanitation_score" pattern="^(\d{1,2}(\.\d{1,2})?|100)$">
            <label for="sanitation_score" class="mdl-textfield__label">卫生评分</label>
            <span class="mdl-textfield__error">评分为0~100的小数</span>
        </div>
        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label" style="width: 65px;">

            <select  class="mdl-selectfield__select">
                <option>正常</option>
                <option>异味</option>
                <option>地面脏乱</option>
                <option>床铺未叠</option>
                <option>卫生间镜子脏</option>
            </select>

        </div>
        <br>
        <div class="mdl-textfield mdl-js-selectfield mdl-textfield--floating-label is-dirty" style="margin-left: 32px;width: auto;">
            <input class="mdl-textfield__input" id="sanitation_date" type="date" style="border:none; border-bottom: 1px solid rgba(0,0,0,.12);padding-bottom: 2px;color: #bcbcbc;">
            <label class="mdl-textfield__label" for="sanitation_date">检查时间</label>
            <span class="mdl-textfield__error">请选择检查日期</span>
        </div>
        <br>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">done</i>
            提交
        </button>
            </div>
    </div>

</%block>
<%block name="js">

    <script>
        function onload_init() {
            get_room();
        }
        function get_room() {
            $.ajax({
                url: '/getStuRoom',
                type: 'post',
                dataType: 'json',
                success(data){
                    var select_obj = document.getElementById('stu_room');
                    for (var it in data.room_info) {
                        var op = document.createElement('option');
                        op.value = data.room_info[it].id;
                        op.innerHTML = data.room_info[it].room_name;
                        select_obj.appendChild(op);
                    }
                }

            });
        }

    </script>

</%block>

<%block name="css">
</%block>