<%inherit file="/base/base_main.html"/>
<%block name="title">
节假日信息管理
</%block>

<%block name="block_apartment">
    <a class="mdl-layout__tab is-active" href="#">节假日信息管理</a>
</%block>

<%block name="left_navigation">
    <a class="mdl-navigation__link" href="/class/">节假日离校统计</a>
    <a class="mdl-navigation__link" href="/class/">节假日返校统计</a>
    <a class="mdl-navigation__link" href="/class/">未返校查询</a>
</%block>


<%block name="content">
    <h1 class="mdl-typography--text-center">节假日信息管理</h1>
</%block>